name: Django CI - Weblog Project (Full)

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
        pip install coverage flake8

    - name: Apply migrations
      run: |
        python manage.py migrate

    - name: Run tests and coverage for blog app
      run: |
        coverage run --source=blog manage.py test blog
        coverage report -m

    - name: Run tests and coverage for user app
      run: |
        coverage run --source=user manage.py test user
        coverage report -m

    - name: Run tests and coverage for api app
      run: |
        coverage run --source=api manage.py test api
        coverage report -m

    - name: Run linting with flake8
      run: |
        flake8 .
